/**/
@font-face {
    font-family: "Montserrat";
    src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}

/* Definções que ficarão disponíveis para todo o site. */
:root{
    --roxo-gamifica: #47208b;
    --laranja-famifica: #f06638;

}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Altera a forma que o scroll de link vai ate onde solicitado */
html {
    scroll-behavior: smooth;
}

/* Para selecionar Tags apenas escrever tag| para selecioanar classes .nomedaclasse*/
.container-grid{
    /* Pode ser 80vw*/
    width: 80%;
    /* Tamanho tirado das extremidades da grid. */
    max-width: 1400px;

    /* margin: 20px - Espaçamento externo de 20px */
    /* margin: 20px 10px - Espaçamento 20px na vertical, 10px na horizontal */
    /* margin: 20px 10px 5px - Espaçamento 20px na vertical, 10px na horizontal, 5px para baixo */
    /* margin: 20px 10px 5px 2px - Espaçamento 20px na vertical, 10px na horizontal, 5px para baixo, 2px para esquerda*/

    margin: 0 auto;
}

/* Seleciona a classe que recebera a customização | atalho bgc */
.banner {
    /* vh = viewport e a porcentagem da ALTURA da tela */
    /* vw = viewport e a porcentagem da LARGURA da tela */
    height: 100vh;
    /* atalho - ctrl + espaço para selecionar a imagem com mais facilidade. */
    background-image: linear-gradient(90deg, rgba(53, 24, 104, 1) 0%, rgba(53, 24, 104, 0.8) 100%), url(img/bg-room.png);
    background-repeat: no-repeat;
    /* atalho - bgp */
    background-position: 165% 40%;
}

header {
    height: 165px;
}

header button{
    display: none;
}
header img {
    width: 234px;
}

header .container-grid{
    height: 100%;

    /* Priimeiro tem que tornar flex. */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Para ser mais especifico pode ser nav.menu. */
.menu {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

/* Dentro da tag Menu estou selecionando todos os as. */
.menu a {
    font-family:'Anta';
    font-size: 18px;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    color: white;
/* Transition - normalmente serve para criar animações de transição. */
    transition: text-decoration 500ms ease;
}
.menu a:hover{
    text-decoration-color: white;
}

.conteudo-banner{
    /* A altura está subitraindo o tamanho do header - 280px */
    height: calc(100vh - 280px);
    display: flex;
    align-items: center;
}

.conteudo-banner p {
    color: white;
    font-family: "Anta";
    font-size: 32px;
    
}
/* Criação de animação, caixa vai se abrindo em largura*/
.conteudo-banner span {
    display: block;

    /* Dita que o que estiver saindo da caixa, ficará escondido */
    overflow: hidden;

    border-right: 6px solid var(--laranja-famifica);
    /* Normaliza o tamanho da caixa para pegar apenas em uma caixa */
    white-space: nowrap;

    animation: 
        digitando 2s steps(40, end),
        cursor 0.75s  step-end infinite
    ;
}

@keyframes digitando {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes cursor {
    /* Começa e termina transparente */
    from, 
    to {
        border-color: transparent;  
    }
    /* No meio fica laranja */
    50% {
        border-color: var(--laranja-famifica);
    }
}


#sobre {
    height: 800px;
    padding: 100px 25%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h2{
    font-size: 28px ;
    font-family: "Anta";
}

#sobre p{
    font-size: 17px ;
    text-align: left;
    font-family: "Montserrat";

    /* Espaçamento entre linhas. */
    line-height: 1.5;
}

.container-cards{
    display: flex;
    justify-content: space-between;
}

#cases{
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2{
    margin-bottom: 70px;
}

.cards{
    height: 400px;
    width: 250px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    padding-bottom: 20px;
    margin-bottom: 40px;
    
    background-color: var(--roxo-gamifica);
    

    /* Se colocar < 60% ele vai arredondar mais. */
    border-radius: 4px;

    /* A partir de um site pegamos o código de sombra de caixa */
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.cards img{
    height: 55%;
    width: 100%;
    /* Para individualmente fazer as bordas arredondadas. */
    border-radius: 4px 4px 0 0;
}

.cards p{
    font-family: 'Montserrat';
    font-size: 16px;
    color: white;
    text-align: left;
    /* Espaçamento entre os itens em relação a borda, tipo uma margem interna */
    padding: 7%;
}

.cards button{
    /*align-self: center;
    margin-bottom: 20%;*/
    width: 90%;
    height: 40px;

    background-color: var(--laranja-famifica);
    color: white;

    border: none;
    border-radius: 4px;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    
    /* Transforma o cursor em mão, como se fosse um link. */
    cursor: pointer;

    transition: background-color 500ms ease;
}

.cards button:hover{
    background-color: #ad4929;
    /*transform: rotate(-20deg)*/
}

#portfolio {
    height: 250px;

    background-image: url(img/bonecos.png);
    background-size: 250px;
    background-attachment: fixed;
    
    /* Com essa propriedade, definimos ele como a referencia para todos os filhos dele*/
    position: relative;

    margin-bottom: 120px;

}

#portfolio .container-grid{
    /* A altura tem que ser o total do container pai para centralizar nele*/
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.filtro {
    width: 100%;
    height: 100%;
    
    background-color: #47208bc2;
    
    /* Usamos apenas quando queremos sobropor alguma coisa, deixar o header em cima. Porque a responsividade é ruim. */
    position: absolute;
    /* Posiciona em relação a pagina principal, topo de tudo | Estamos utilizando ele para definir as posições das camadas, sem position absolute não é possível */
    top: 0;
    left: 0;
}

#portfolio a {
    /* Ajusta a box do texto para ficar ao redor apenas do que foi escrito, isso acontece com tags a*/
    width: fit-content;

    color: white;
    
    font-family: 'Anta';
    font-size: 28px;
    
    /* Para organizarmos as camadas, usamos o z-index, ele vai descer as camadas*/
    z-index: 1;

    transition: 200ms;

}

#portfolio a:hover{
    /* O mesmo que 5% de scala*/
    transform: scale(1.05);
    transition: 200ms;
}

#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
    
}

#contato h2 {
    margin-bottom: 70px;
}

#contato form {
    width: 50%;
    
    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 80px;
    background-color: var(--roxo-gamifica);

    color: white;
    font-family: "Montserrat";
    font-size: 17px;

}

.campo {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;

    margin-bottom: 50px;
}

.campo-descricao{
    width: 60%;

    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input{
    height: 40px;

    color: white;
    background-color: #351868;

    border: none;
    border-radius: 4px;

    /* Espaçamento entre a caixa e o texto, serve apenas para a primeira linha*/
    text-indent: 10px;

    /* Tira a linha branca ao selecionar o campo */
    outline:none;
}

.campo-descricao textarea {
    color: white;
    background-color: #351868;

    border: none;
    border-radius: 4px;

    /* Espaçamento para varias linhas*/
    padding: 10px;

    /* Tira a possíbildade de redimensionamento da caixa do formulário*/
    resize: none;
    outline: none;
}

/*A virgula diz que vai servir para dois seletores diferentes */
.campo label, .campo-descricao label{
    margin-bottom: 15px;
}

/* Altera a font do texto dentro do campo */
.campo input, .campo-descricao textarea{
    font-family: "Montserrat";
    font-size: 17px;
}

/* Altera a cor da font dentro do campo, com id do campo | :: é o ID do For */
.campo input::placeholder, .campo-descricao textarea::placeholder {
    color: #a0a0a0;
}

/* Pseudoclasse - Focus, igual o Hover*/
.campo input:focus, .campo-descricao textarea:focus{
    outline: 2px solid var(--laranja-famifica);
}



#contato form button {
    height: 40px;
    width: 60%;

    background-color:var(--laranja-famifica);   
    color: white;
    border-radius: 4px;
    border: none;

    font-size: 17px;
    font-family: "Montserrat";
    font-weight: 700; /* Bold */

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms;
}

#contato form button:hover {
    background-color: #ad4929;

    transition: 200ms;
}

footer {
    height: 290px;

    background-color: var(--roxo-gamifica);
}

footer .container-grid{
    /* Para alinhar ao centro, é necessario dizer que a altura está relacionada ao container pai os 290px linha 395 */
    height: 100%;
    display: flex;

    /* Justify é na horizontal | Align é na vertical */
    justify-content: space-between;
    align-items: center;
}

.redes-sociais {
    height: 50%;
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.redes-sociais p{
    color: white;
    font-family: 'Anta';
    font-size: 24px;
}

.icones-redes {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.icones-redes a{
    color: white;
    transition: color 300ms;
}

.icones-redes a:hover{
    color: var(--laranja-famifica)
}

/* Classe para deixar o menu esconndido*/
.menu-fechado {
    display: none;
}

#icone-barras {
    display: none;
}

/* Responsividade */
/* Quando a tela tiver até 1300px ela aplicará essas especificações */
@media screen and (max-width: 1300px) {
    header {
        position: relative;
    }
    
    header button{
        width: 50px;
        
        /* Retira o display none que colocamos lá em cima no header */
        display: unset;

        background: none;
        border: none;
    }
    header svg {
        fill: white;
    }
    /* 
        Tudo junto ele procura um elemento nav com a classe menu;
        Separado ele prucura dentro de nav um elemento com classe menu.
    */
    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;

        background-color: #000000b5;

        position: absolute;
        right: 0px;
        /* Depois de verificar a altura do header, descontamos a altura dele, para ajustar */
        top: 165px;
    }

    #sobre {
        /* A porcentagem depende de outro elemento  */
        padding: 100px 15%;
    }

    .cards{
        height: 320px;
        width: 200px;
    }

    #contato form {
        width: 75%;
    }
}
@media screen and (max-width: 1080px) {
    .container-cards{
        /* Distribui os cards caso não tenham espaço na horizontal */
        flex-wrap: wrap;
    }

    .cards  {
        height: 400px;
        
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
     }

     footer{
        height: unset;
     }
     
     footer .container-grid{
        padding: 80px;
        flex-direction: column;
     }
     footer img{
        margin-bottom: 100px;
     }
     footer p {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
     }

     .redes-sociais{
        align-items: center;
     }
}
@media screen and (max-width: 800px){
    .cards{
        flex-basis: 45%;
    }

}

@media screen and (max-width: 700px){
    #sobre {
        height: unset;
        margin-bottom: 40px;
    }

    #sobre h2 {
        margin-bottom: 50px;
    }
    #sobre p {
        margin-bottom: 30px;
    }

    #cases,
    #contato {
        margin-bottom: unset;
    }

    #portfolio a {
        width: 100%;
        text-align: center;
    }

    .campo,
    .campo-descricao,
    #contato form button {
        width: 75%;
    }
}

@media screen and (max-width: 520px){
    .container-grid{
        width: 90%;
    }

    header img{
        width: 200px;
    }
    .banner{
        background-size: cover;
    }

    .conteudo-banner P{
        font-size: 24px;
    }
    
    nav.menu{
        width: 100%;

        display: none;
    }

    #sobre {
        padding-right: 0px;
        padding-left: 0px;
    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #cases.container-grid {
        width: 100%;
        margin: unset;
    }

    .container-cards{
        /* Como fazer um carrosel, sem ser carrosel */
        flex-wrap: nowrap;
        gap: 40px;

        overflow-x: auto;
    }

    .cards{
        width: 280px;

        flex-basis: unset;
    }

    /* Com base na estrutura HTML dizemos, o primeiro card ficara a 30px da esquerda e o ultimo a 30px da direita */
    .cards:first-child{
        margin-left: 30px;
    }

    .cards:last-child{
        margin-right: 30px;
    }
    #portfolio{
        margin-bottom: 0px;
    }

    #contato {
        padding-top: 150px;

        background-color: var(--roxo-gamifica);
        color: white;

    }
    #contato h2 {
        margin-bottom: 0px;

    }

    #contato form{
        width: 100%;
        border-radius: 0;
    }
    }
    @media screen and (max-width: 400px){
        header img{
            width: 160px;
        }

        header svg {
            width: 40px;
        }
        
        footer img {
            width: 200px;
        }
         }

